* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #FAB;
}
nav {
    background: #ccc;

}
nav ul{
    display:flex;
    justify-content: space-between;
    padding: 30px;
    list-style: none;
    color: black;
}
nav ul li {
    font-size: 26px;
    font-family: monospace;
    font-weight: 700;
    text-align: center;
}
nav ul li:hover {
    border: 1px solid black;
    padding: 10px;
    width: 150px;
    border-radius: 15px;
    background: #a09797;
}
main {
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    align-items: center;
    height: 90vh;
}
main h1 {
    font-size: 48px;
    color: #5c0437;
}
main .container {
    background: #ccc;
    width: 400px;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
}
.container input {
    width: 300px;
    position: relative;
    top: 10%;
    height: 40px;
    border: none;
    border-radius: 22px;
    outline: none;
    font-size: 20px;
    padding: 15px;
    text-align: right;
}
.container .error {
    display: none;
    position: relative;
    top: 13%;
    font-size: 22px;
    font-family: monospace;
    border: 0.1px solid red;
    background-color: red;
    color: white;
    font-weight: 700;
    padding: 10px;
    width: 250px;
    text-align: center;
    border-radius: 24px;
}
.container .btn {
    position: relative;
    top: 25%;
    padding: 20px;
}
.container .btn .celsius-btn, .fahrenheit-btn{
    width: 150px;
    padding: 10px;
    font-size: 20px;
    background: #FF714B;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    color: #fff;
    font-weight: 700;
    transition: all 0.3s ease;
}
.container .btn .celsius-btn:hover, .fahrenheit-btn:hover {
    background: #f39075;
}
.container .result{
    position: relative;
    top: 30%;
    padding: 10px;
    width: 2000px;
    text-align: center;
    font-size: 18px;
    font-family: monospace;
    font-weight: 700;
}